<h1>Welcome to the To Do App</h1>

<div class="container">
  <!-- <a href="/lists">View All Lists</a> -->
  <!-- <a href="/lists/new">Add New List</a> -->
  <form action="/" method="post">
    <div class="form-group">
    <label for="list">Add new list: </label>
    <input id="list" name="list" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-lg">Add list!</button>
  </form>


</div>
